.about-me-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: #f2f4e8; /* boja pozadine About Me dela */
}

.about-me-text {
  flex: 1;
  max-width: 45%;
  color: #4b5d3b;
}

.about-me-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-me-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-me-card {
  flex: 1;
  max-width: 45%;
  height: 400px;
}
